* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.main {
  padding: 10px;
}

h1 {
  font-size: 16px;
}

.top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notif {
  display: inline-block;
  padding: 3px 8px;
  background-color: rgb(29, 55, 149);
  color: white;
  font-size: 0.5em;
  border-radius: 5px;
  position: absolute;
  left: 100px;
}

.mark {
  font-size: 0.6em;
  color: grey;
}

.periode {
  font-size: 0.6em;
  color: grey;
  margin-top: 3px;
}

p {
  font-size: 12px;
}

.list-notification {
  display: flex;
  padding: 10px;
  background-color: rgb(230, 245, 252);
  border-radius: 5px;
  margin-bottom: 5px;
}

.list-notification-read {
  display: flex;
  position: relative;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 5px;
}

span.name {
  font-weight: bold;
}

span.name:hover,
span.react:hover,
span.group:hover,
.mark:hover {
  color: rgb(1, 51, 153);
  cursor: pointer;
}

.react {
  font-weight: 700;
  color: rgb(123, 123, 124);
}

.group {
  font-weight: 700;
  color: rgb(1, 51, 153);
}

span.symbol {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: rgb(253, 83, 126);
  border-radius: 50%;
  margin-bottom: 2px;
}

.private-message {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), -1px -1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  margin-top: 10px;
  padding: 10px;
  transition: 0.3s;
}

.private-message:hover {
  background-color: rgb(230, 245, 252);
  cursor: pointer;
}

.img-wrapper {
  padding-right: 10px;
}

.float-right {
  position: absolute;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}
